<div class='about-page'>
  <h1>About this website</h1>
  <p>This website is built for diabetic to record their health information
    everyday, and the clinicians can check their patient.</p>

  <h2>Who build this website?</h2>
  <p>Zhanhong Zhang<br />
    Zhaoyang Zhang<br />
    Shuyu Chen<br />
    Sheng Zeng<br />
    Xi Chen</p>
</div>