<div class='about-page'>
  <h1>About Diabetes</h1>
  <p>Diabetes is a chronic (long-lasting) health condition that affects how your
    body turns food into energy. Most of the food you eat is broken down into
    sugar (also called glucose) and released into your bloodstream. When your
    blood sugar goes up, it signals your pancreas to release insulin.</p>

  <img src='/public/imgs/about-diabetes-1.png' />

  <p>An autoimmune disease Requires insulin to live Not preventable,but some
    research shows that acoiding exposureto ciruses can help reduce your risk
    Regular vaccinations and wellness visite are important.
  </p>
  <img src='/public/imgs/about-diabetes-2.png' />

  <p>Insulin resistance can lead to elevated blood sugars Many proplr that have
    type 2 suffer from underlying health problems Can be prevented by eating
    healthy and staying active.</p>
  <img src='/public/imgs/about-diabetes-3.png' />

  <p>Occues during pregnancy Caused by a combination of genetic and
    environmental risk factors Blood sugar typically returns to normal after
    birth</p>

  <h2>Two mins to know diabetes:</h2>
  <iframe
    width='560'
    height='315'
    src='https://www.youtube.com/embed/wZAjVQWbMlE'
    title='YouTube video player'
    frameborder='0'
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
    allowfullscreen
  ></iframe>

  <a
    href='https://www.cdc.gov/diabetes/basics/diabetes.html#:~:text=Diabetes%20is%20a%20chronic%20(long,your%20pancreas%20to%20release%20insulin.'
    target='_blank'
    style='display: block; margin-top: 20px;'
  >
    Useful websites</a>
</div>