<h1>Change Password</h1>
{{#if message}} <p class="error-message"> {{message}} </p> {{/if}}
<form action='/patient/password' method='POST'>
  <div class='mb-3'>
    <label class='form-label'>New password</label>
    <input
      class='form-control'
      type="password"
      name="newPassword" 
      placeholder="enter password"
      required
    ></input>
  </div>
    <div class='mb-3'>
    <label class='form-label'>Confirm new password</label>
    <input
      class='form-control'
      type="password"
      name="confirmPassword" 
      placeholder="confirm new password"
      required
    ></input>
  </div>
  <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>