<h1>View Last 15 Days History Data </h1>
<div class='history-chart-box'>
  <canvas id='canvas-bgl'>
  </canvas>

  <canvas id='canvas-doit'>
  </canvas>

  <canvas id='canvas-weight'>
  </canvas>

  <canvas id='canvas-exercise'>
  </canvas>
</div>

<script
  type='text/javascript'
  src='https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js'
></script>
<script src='/public/js/drawHistoryChart.js'></script>
<script>
  {{! get dates }}
  const dates =
  {{{dates}}};

  {{! get data }}
  const data =
  {{{data}}};

  {{! call function }}
  draw(dates, data);

</script>